numpy==1.23.4
sympy==1.13.1
pycryptodome
langchain
langchain==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0
langchain-pinecone==0.2.0
streamlit
python-dotenv
pinecone-client==2.2.1
tiktoken
pi-heif
cmake
onnx==1.16.1
onnxruntime
certifi
urllib3
