numpy==1.23.4
sympy==1.13.1
pycryptodome
langchain==0.1.13
langchain-unstructured==0.1.5
langchain-openai==0.1.6
langchain_community==0.0.26
langchain-pinecone
streamlit
python-dotenv
pinecone-client==2.2.1
tiktoken
pi-heif
cmake
onnx==1.16.1
onnxruntime
certifi
urllib3
