numpy==1.23.4
python-magic
python-magic
sympy==1.13.1
pycrypto==0.0.0
pycryptodome
langchain
langchain-unstructured
langchain-openai
langchain_community
unstructured
unstructured-inference
streamlit
python-dotenv
pinecone-client
tiktoken
pi-heif
unstructured[image]
python-magic
cmake
onnx==1.16.1
onnxruntime　　
python-docx
python-pptx
PyPDF2
certifi
urllib3
